body{
font-family:'Poppins',sans-serif;
margin:0;
background:#f4f6fb;
}

header{
background:#0f172a;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:0 10px;
text-decoration:none;
}

.hero{
height:70vh;
background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("https://images.unsplash.com/photo-1504052434569-70ad5836ab65");
background-size:cover;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.btn{
background:#2563eb;
padding:12px 20px;
color:white;
text-decoration:none;
border-radius:5px;
}

.features{
display:flex;
gap:20px;
padding:40px;
flex-wrap:wrap;
}

.box{
background:white;
padding:20px;
border-radius:8px;
flex:1;
transition:0.3s;
}

.box:hover{
transform:translateY(-10px);
}

footer{
background:#0f172a;
color:white;
text-align:center;
padding:20px;
}


/* Mobile Responsive */

@media(max-width:768px){

.features{
flex-direction:column;
}

nav{
display:block;
}

  }
